
#navbar_list {
		text-transform: uppercase;
		font-family:roboto;
		float: right;
		margin-right: 1.5em;
		list-style-type: none;
		margin-top: -3.25em;
		position: fixed;
		top: 0;
		right: 0;
		height: 100%;
		width: 0;
		background-color: blue;
		text-align: center;
		overflow-x: hidden;
}

#navbar_list a {

    color: #000;
    padding: 8px 12px;
    text-decoration: none;
		display: block;
		font-size: 1em;
		font-weight: 600;
}

#navbar_list a:hover {
    color: #fff;
		background-color: #266fc0;
}

.header_right{
	height: 64px;
	position: absolute;
	bottom: 0;
	right: 0;
	overflow-y: hidden;
	text-align: center;
}

.open_menu{
		color:#1172c3;
		font-size: 40px;
}

.book_now_button{
		background-color: #1172c3;
		color:white;
		font-size: 19px;
		height: 40px;
		border: 0;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
}
.book_now_button:hover{
	cursor: pointer;
}

.sitelogo
{
	width: 256px;
	height: auto;
	margin-left: 15px;
	margin-top: 1.5em;
}


.footer-right{
	padding:0;
	margin-right: 15px;
	float:right;
}
.footer-left{
	padding:0;
	margin-left: 15px;
	float:left;
}
