
#navbar_list {
		text-transform: uppercase;
		font-family:roboto;
		float: right;
		margin-right: 1.5em;
		list-style-type: none;
		margin-top: -3.25em;
		position: fixed;
		top: 0;
		right: 0;
		height: 100%;
		width: 0;
		background-color: blue;
		text-align: center;
		overflow-x: hidden;
}

#navbar_list a {

    color: #000;
    padding: 8px 12px;
    text-decoration: none;
		display: block;
		font-size: 1em;
		font-weight: 600;
}

#navbar_list a:hover {
    color: #fff;
		background-color: #266fc0;
}

.header_right{
	width: 100%;
	float:right;
}

.book_now_button{
	background-color: #0198E1;
	color:white;
	margin-top:calc(50% - 15px);
	font-size: 30px;
}

.sitelogo
{
	width: 256px;
	height: auto;
	margin-left: 2.5em;
	margin-top: 1.5em;
}


.footer-right{
	padding:0;
	margin: 0;
	float:right;
}
.footer-left{
	padding:0;
	margin: 0;
	float:left;
}
