/* CSS Document */

html,
html * {
	margin: 0;
	padding: 0;
}
body {
	background:white;
	height: 100%;
}
header{
	width: 100%;
	height: 20%;
	top:56px;
	background-color: white;
}
section{
	padding-top: 15px;
	width: 100%;
}
footer{
	height: 10%;
	width: 100%;
	padding-top:30px;
}

img{
	padding:0;
	margin: 0;
}

.nopadding {
   padding: 0 !important;
}

.page-width{
	width:65%;
	margin: 0 auto;
	position: relative;
}

.slides-container-container{
    white-space: nowrap;
    overflow-x: hidden;
		overflow-y: hidden;
    -moz-box-shadow: 0 0 40px #999;
    -webkit-box-shadow: 0 0 40px #999;
		box-shadow: 0 0 40px #999;
		margin:auto;
		float:none;
	/*margin:0 auto;
	width:66.66%;*/
}
.slides-container{
	font-size: 0;
	width:600%;
}
.slide-container {
	width: 16.66%;
	padding: 0;
	margin: 0;
	display: inline-block;}


.text{
	font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;;
	color:#252525;
	font-weight: bold;

}
.slide{
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    display: block;
}

.background-image{
    z-index: 1;
    width: 100%;
    height: 100%;
    position: relative;
}


.slide1-text-wrapper{
	z-index: 2;
	position: absolute;
	text-align: center;
	width: 100%;
	left:0;
	top:43%;
}
.slide1-text-wrapper h1{
	font-size: 55px;
	text-align: center;
    text-transform: uppercase;
	padding:0;
	margin:13px;
}

.slide1-text-wrapper h1 span{
	background-color: white;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0;
	padding-left: 10px;
}

.slide1-info-wrapper{
	z-index: 2;
	position: absolute;
	right:15px;
	bottom: 15px;
}

.slide1-info-textwrapper{
	background-color: white;
	padding: 7px 7px 4px 7px;
	float: right;
}
.slide1-info-textwrapper p{
	font-size: 14px;
    text-transform: uppercase;
	padding:0;
	margin: 0;
}
.slide1-info-alert-imagewrapper{

	margin-right: 10px !important;
	height: 31px;
	width: 31px;
	float:left;
}
.slide1-info-alert{
	height: 100%;
}

.slide-text-wrapper{
	z-index: 2;
	position: absolute;
	top:8%;
	left:7%;
}
.slide-title{
	text-transform: uppercase;
	font-size: 46px;
}

.slide-body-text{
	margin-top: 25px;
	font-weight: bold;
	font-size: 22px;
}


#slide4-right-text{
	z-index: 2;
	position: absolute;
	bottom: 0px;
	right:0;
	width:50%;
	height: 100%;
	background-color: white;
	opacity: 0.7;
	display: none;
}

#slide4-right-text p{
	position: absolute;
	top:calc(8% + 142px);
	left: 14%;
	font-size: 22px;
	opacity: 1;
}

#slide4-right-text-toggle{
	z-index: 2;
	position: absolute;
	right:calc(50% + 15px);
	bottom: 15px;
	width: 40px;
	height: 40px;
	background-image: url("../img/play.png");
	background-repeat: no-repeat;
	background-size: 30px 30px;
	background-position: center center;
	border:1px solid #252525;
	transform:rotate(270deg);
    -moz-box-shadow: 0 0 10px #999;
    -webkit-box-shadow: 0 0 10px #999;
		box-shadow: 0 0 10px #999;
    -moz-transition:1s all;
    -webkit-transition:1s all;
		transition: 1s all;
}

#slide4-right-text-toggle:hover{
	cursor: pointer;
}

.arrowDown{
		transform: rotate(90deg) !important;
    -moz-transform:rotate(90deg) !important;
    -webkit-transform:rotate(90deg) !important;
}

.slide6-text-wrapper{
	z-index: 2;
	position: absolute;
	text-align: center;
	width: 100%;
	left: 0%;
	top:63%;
}

.nav-dots-wrapper{
	z-index: 3;
	position: absolute;
	right:15px;
	bottom: 15px;
	padding: 0 5px 0 5px;
	background-color: white;
    -moz-box-shadow: 0 0 10px #999;
    -webkit-box-shadow: 0 0 10px #999;
	box-shadow: 0 0 10px #999;
}

.circle{
      width: 15px;
      height: 15px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      background: white;
      border: 4px solid black;
      float:left;
      margin: 5px;
    }

.selected{
	background-color: black !important;
}

.circle:not(.selected):hover{
	background-color: grey;
	cursor:pointer;
}
