/* CSS Document */

html,
html * {
	margin: 0;
	padding: 0;
}
body {
	background:white;
	height: 100%;
}
header{
	width: 100%;
	height: 20%;
	top:56px;
	background-color: white;
}
section{
	padding-top: 20px;
	width: 100%;
}
footer{
	height: 10%;
	width: 100%;
	background-color: green;
}


.sitelogo
{
	width: 256px;
	height: auto;
	margin-left: 2.5em;
	margin-top: 1.5em;
}





#navbar_list {
	text-transform: uppercase;
	font-family:roboto;
	float: right;
	margin-right: 1.5em;
	list-style-type: none;
	margin-top: -3.25em;
}

#navbar_list li {
	text-align: center;
	display: inline;
}

#navbar_list li a {
	
    color: #000;
    padding: 8px 12px;
    text-decoration: none;
	display: inline-block;
	font-size: 1em;
	font-weight: 600;
}

#navbar_list li a:hover {
    color: #fff;
	background-color: #266fc0;
}

.slides{
    padding: 0;
    display: block;
    margin: 0 auto;
    position: relative;
}
.slides input { display: none; }

.slide-container { display: block; }

.slide{
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    display: block;
}


.slide img{
    z-index: 1;
    width: 100%;
    height: 100%;
    position: relative;
}

.slide1-text-wrapper{
	z-index: 2;
	position: absolute;
	text-align: center;
	width: 100%;
	height: 400px;
	left:0;
	top: 30px;
}
.slide1-text-wrapper h1{
	font-size: 2.5em;
	color:#252525;
	text-align: center;
	font-family: roboto;
	text-transform: uppercase;
	padding:0;
	margin:4px;
}

.slide1-text-wrapper h1 span{
	background-color: white;
}
/*



.slide:hover + .nav label { opacity: 0.5; }

input:checked + .slide-container  .slide {
    opacity: 1;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2, {
	background: rgba(0, 0, 0, 0.8);
}*/