<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="css/mobile.css">
	<title>Авиационные Приключения</title>
</head>
<body>
	<div class="page-width">
		<div class = "background-wrapper">
		<div class="background-image-wrapper first-background" id="background1">
			<img src="img/1.jpg">
		</div>
		<div class="background-image-wrapper" id="background2">
			<img src="img/2.jpg">
		</div>
		<div class="background-image-wrapper" id="background3">
			<img src="img/3.jpg">
		</div>
		<div class="background-image-wrapper" id="background4">
			<img src="img/4.jpg">
		</div>
		<div class="background-image-wrapper" id="background5">
			<img src="img/5.jpg">
		</div>
		<div class="background-image-wrapper" id="background6">
			<img src="img/6.jpg">
		</div>
		</div>
		<div class="content-wrapper">
			<div class="slide-wrapper init-page" onclick="toggleslide(1)" id="flex1">
				<div class="slide1 slide">
					<h1 class="slide-title text">
						ЧТО ЭТО?
					</h1>
					<p class="short-slide-body-text text" id="slide-body-text-short1">
						Авиационные приключения - совместные
						<br>
						полёты на 4-х местном самолёте
						<br>
						Cessna 172 / Cirrus 22
						<br>
						в самых красивых уголках планеты.
						<br>
						<br>
						Мы увидим невероятные пейзажи,
					</p>
					<h2 class="read-more text" id="read-more1">
						прочитайте больше
					</h2>
					<p class="slide-body-text text" id="slide-body-text1">
						Авиационные приключения - совместные
						<br>
						полёты на 4-х местном самолёте
						<br>
						Cessna 172 / Cirrus 22
						<br>
						в самых красивых уголках планеты.
						<br>
						<br>
						Мы увидим невероятные пейзажи,
						<br>
						доступные только с воздуха,
						<br>
						будем совместно готовиться к
						<br>
						полётам, выбирать маршрут,
						<br>
						анализировать погоду, делать
						<br>
						чек-листы ...
						<br>
						<br>
						Авиационные приключения -
						<br>
						возможность не только насладиться
						<br>
						красотой нашей планеты, но и узнать из
						<br>
						первых рук и влюбиться в не менее
						<br>
						прекрасный мир авиации.
					</p>
				</div>
			</div>
			<div class="slide-wrapper init-page" id="flex2" onclick="toggleslide(2)">
				<div class="slide1 slide">
						<h1 class="slide-title text">

						</h1>
						<p class="short-slide-body-text text" id="slide-body-text-short2">

						</p>
						<h2 class="read-more text" id="read-more2">

						</h2>
						<p class="slide-body-text text" id="slide-body-text2">

						</p>
				</div>
			</div>
			<div class="slide-wrapper init-page" id="flex3" onclick="toggleslide(3)">
				<div class="slide1 slide">
						<h1 class="slide-title text">

						</h1>
						<p class="short-slide-body-text text" id="slide-body-text-short3">

						</p>
						<h2 class="read-more text" id="read-more3">

						</h2>
						<p class="slide-body-text text" id="slide-body-text3">

						</p>
				</div>
			</div>
			<div class="slide-wrapper init-page" id="flex4" onclick="toggleslide(4)">
				<div class="slide1 slide">
						<h1 class="slide-title text">

						</h1>
						<p class="short-slide-body-text text" id="slide-body-text-short4">

						</p>
						<h2 class="read-more text" id="read-more4">

						</h2>
						<p class="slide-body-text text" id="slide-body-text4">

						</p>
				</div>
			</div>
			<div class="slide-wrapper .init-page" id="flex5" onclick="toggleslide(5)">
				<div class="slide1 slide">
						<h1 class="slide-title text">

						</h1>
						<p class="short-slide-body-text text" id="slide-body-text-short5">

						</p>
						<h2 class="read-more text" id="read-more5">

						</h2>
						<p class="slide-body-text text" id="slide-body-text5">

						</p>
				</div>
			</div>
		</div>
	</div>
	<div class="fixed-action-btn">
    <a class="btn-floating btn-large blue">
      <img class="fab-icon" src="img/book now button.png">
    </a>
    <ul>
      <li><a class="btn-floating form"><img class="fab-icon" src="img/whatsapp.png"></a></li>
      <li><a class="btn-floating whatsapp darken-1"><img class="fab-icon" src="img/whatsapp.png"></a></li>
    </ul>
  </div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="mobilescript.js"></script>
</body>
</html>
