<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
	<link rel="stylesheet" type="text/css" href="css/mobile.css">
	<title>Авиационные Приключения</title>
</head>
<body>
 <header>
		<a href="/">
			<img class="sitelogo" src="img/logo3.png" alt="Aviation Adventures">
		</a>
	</header>
	<div class="content">
	<div class="page-width">
		<div class = "background-wrapper">
		<div class="background-image-wrapper first-background" id="background1">
				<div class="slogen-wrapper">
				<h1>
					<span> Полёты над самыми красивыми</span>
				</h1>
				<h1>
					<span>местами планеты.</span>
				</h1>
				<h1>
					<span> Впечатления, которые останутся с Вами</span>
				</h1>
				<h1>
					<span> на всю жизнь.</span>
				</h1>
				</div>
			<img src="img/1.jpg">
		</div>
		<div class="background-image-wrapper" id="background2">
			<img src="img/2.jpg">
		</div>
		<div class="background-image-wrapper" id="background3">
			<img src="img/3.jpg">
		</div>
		<div class="background-image-wrapper" id="background4">
			<img src="img/4.jpg">
		</div>
		<div class="background-image-wrapper" id="background5">
			<img src="img/5.jpg">
		</div>
		<div class="background-image-wrapper" id="background6">
			<img src="img/6.jpg">
		</div>
		<div class="background-image-wrapper" id="background7">
			<img src="img/7.jpg">
		</div>
		</div>
		<div class="content-wrapper">
			<div class="slide-wrapper init-page" id="flex1">
				<div class="flex-wrapper">
				<div class="slide1 slide">
					<h1 class="slide-title text">
						ЧТО ЭТО?
					</h1>
					<p class="short-slide-body-text text" id="slide-body-text-short1">
						Авиационные приключения - совместные
						<br>
						полёты на 4-х местном самолёте
						<br>
						Cessna 172 / Cirrus 22
						<br>
						в самых красивых уголках планеты.
						<br>
						Мы увидим невероятные пейзажи,
					</p>
					<p class="slide-body-text text" id="slide-body-text1">
						доступные только с воздуха,
						<br>
						будем совместно готовиться к
						<br>
						полётам, выбирать маршрут,
						<br>
						анализировать погоду, делать
						<br>
						чек-листы ...
						<br>
						<br>
						Авиационные приключения -
						<br>
						возможность не только насладиться
						<br>
						красотой нашей планеты, но и узнать из
						<br>
						первых рук и влюбиться в не менее
						<br>
						прекрасный мир авиации.
					</p>
				</div>
			</div>
				<div class="read-more text" id="read-more1">
					</div>
			</div>
			<div class="slide-wrapper init-page" id="flex2">
					<div class="flex-wrapper">
				<div class="slide1 slide">
					<h1 class="slide-title text">
						КОМУ ЭТО НУЖНО?
					</h1>
					<p class="short-slide-body-text text" id="slide-body-text-short2">
						Тем, кто любит природу,
						<br>
						виды и романтику
						<br>
						<br>
						Тем, кого не устраивает
						<br>
						"стандартный" туризм
						<br>
					</p>
					<p class="slide-body-text text" id="slide-body-text2">
						Тем, кто испытывает
						<br>
						психологический дискомфорт
						<br>
						в полетах и хотел бы
						<br>
						от него избавиться
						<br>
						<br>
						Тем, кто "болеет"
						<br>
						авиацией и мечтает
						<br>
						стать частью процесса
						<br>
						<br>
						Тем, кто хочет впечатлений,
						<br>
						остающихся  на всю жизнь
					</p>
				</div>
			</div>
				<div class="read-more text" id="read-more2">
				</div>
			</div>
			<div class="slide-wrapper init-page" id="flex3">
					<div class="flex-wrapper">
				<div class="slide1 slide">
					<h1 class="slide-title text">
						ГДЕ, КОГДА И КАК?
					</h1>
					<p class="short-slide-body-text text" id="slide-body-text-short3">
						Мы организуем несколько приключений
						<br>
						каждый год. В группе 3 человека и
						<br>
						профессиональный пилот.
						<br>
						Приключения занимают от 1 до 5
						<br>
						дней, в зависимости от маршрута.
					</p>
					<p class="slide-body-text text" id="slide-body-text3">
						Группа собирается в городе вылета.
						<br>
						Знакомимся и обсуждаем планы.
						<br>
						Анализируем прогноз погоды и
						<br>
						принимаем окончательное решение
						<br>
						о вылете.
						<br>
						<br>
						Если все ок с погодой, на следующий
						<br>
						день готовим самолёт, проводим
						<br>
						брифинг и вылетаем на первый
						<br>
						сегмент маршрута.
					</p>
				</div>
			</div>
					<div class="read-more text" id="read-more3">
					</div>
			</div>
			<div class="slide-wrapper init-page" id="flex4">
					<div class="flex-wrapper">
				<div class="slide4 slide">
					<h1 class="slide-title text">
						ПРОШЕДШИЕ ПРИКЛЮЧЕНИЯ
					</h1>
					<p class="slide-body-text text" id="slide-body-text4"></p>
					<div class="gallery-ext">
						<a target="_blank" href="img/example1.jpg">
							<div class="gallery-img" id="gallery1">
								<img src="img/example1.jpg">
							</div>
  						</a>
					</div>
					<div class="gallery-ext">
						<a target="_blank" href="img/example2.jpg">
							<div class="gallery-img" id="gallery2">
								<img src="img/example2.jpg">
							</div>
						</a>
					</div>
					<div class="gallery-ext">
						<a target="_blank" href="img/example3.jpg">
							<div class="gallery-img" id="gallery3">
								<img src="img/example3.jpg">
							</div>
						</a>
					</div>
					<div class="gallery-ext">
						<a target="_blank" href="img/example4.jpg">
							<div class="gallery-img">
								<img src="img/example4.jpg">
							</div>
						</a>
					</div>
					<div class="gallery-ext">
						<a target="_blank" href="img/example5.jpg">
							<div class="gallery-img" id="gallery4">
								<img src="img/example5.jpg">
							</div>
						</a>
					</div><div class="gallery-ext">
						<a target="_blank" href="/gallery">
							<div class="gallery-img">
								<img src="img/viewmore_gallery.jpg">
							</div>
						</a>
					</div>
				</div>
			</div>
				<div class="read-more text" id="read-more4">
				</div>
			</div>

			<div class="slide-wrapper init-page" id="flex5">
					<div class="flex-wrapper">
				<div class="slide1 slide">
					<h1 class="slide-title text">
						СЛЕДУЙШИЕ ПРИКЛЮЧЕНИЯ
					</h1>
					<p class="slide-body-text text" id="slide-body-text5"></p>
					<div class="next-advantures-wrapper">
						<div class="next-advanture">
							<img id="advanture1"/>
						</div>
						<div class="next-advanture">
							<img id="advanture2"/>
						</div>
						<div class="next-advanture">
							<img id="advanture3"/>
						</div>
						<div class="next-advanture">
							<img id="advanture4"/>
						</div>
					</div>
				</div>
			</div>
					<div class="read-more text" id="read-more5">
					</div>
			</div>

			<div class="slide-wrapper init-page" id="flex6">
					<div class="flex-wrapper">
				<div class="slide1 slide">
					<h1 class="slide-title text" id="slide-title-6">
						о капитане
					</h1>
					<img src="img/alex.png" class="alex" id="alex">

					<p class="slide-body-text text" id="slide-body-text6">
						Группу ведёт коммерческий пилот лицензии
						<br>
						ЕС + США, психолог, специалист по страху полёта
						<br>
						(аэрофобии) с международным именем -
						<br>
						Алексей Герваш.
					</p>
				</div>
			</div>
				<div class="read-more text" id="read-more6">
				</div>
			</div>
		</div>
	</div>
	<div class="fixed-action-btn">
    <a id="main-button" class="btn-floating btn-large blue">
      <i class="large material-icons">add</i>
    </a>
    <ul>
      <li><a href="https://api.whatsapp.com/send?phone=789167888817" class="btn-floating form"><img class="fab-icon" src="img/whatsapp.png"></a></li>
      <li id="form-opener"><a class="btn-floating whatsapp darken-1"><img class="fab-icon" src="img/fillform.png"></a></li>
    </ul>
  </div>
  <div class="modal-container" id="book-modal-container">
  	<div class="book_modal page-width">
  		<form id="order_form">
  			<div class="input-field col s12">
				<input type="text" id="fname" name="fullname" >
  				<label for="fname" id="name_label">
  					Full Name
  				</label>
			</div>
			<div class="input-field col s12">
				<input type="email" id="email" name="emailaddress">
				<label for="lname" id="email_label">
					E-mail Address
				</label>
			</div>
			<div class="input-field col s12">
				<select id="select_adventure" name="select_adventure">
					<option value="none">none</option>
				</select>
				<label for="select_adventure" id="select_label">
					Select Adventure
				</label>
			</div>
			<div class="input-field col s12 buttons-wrapper">
				<a class="waves-effect waves-light blue accent-3 btn" id="close-form-button">
					Cancel
				</a>
				<button class="btn waves-effect waves-light blue accent-3" type="submit" name="action">
					Submit
    				<i class="material-icons right">send</i>
  				</button>
  			</div>
  		</form>
  	</div>
  </div>
	<footer>
		<div class="page-width footer-wrapper nopadding">
				<div class="footer-center">
					<a href="https://www.facebook.com/alex.gervash" target="_blank" class="fa fa-facebook social-media">
					</a>
					<a href="https://www.instagram.com/stop_fear_of_flying/" target="_blank" class="fa fa-instagram social-media">
					</a>
					<a href="https://www.youtube.com/watch?v=XqtcwzlNvkA" target="_blank" class="fa fa-youtube social-media">
					</a>
				</div>
		</div>
	</footer>
</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="scripts/materialize.min.js"></script>
	<script src="mobilescript.js"></script>
</body>
</html>
