<!doctype html>
<html lang="en-US">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Авиационные Приключения</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="photoswipe/photoswipe.css">
	<link rel="stylesheet" href="photoswipe/default-skin/default-skin.css">
	<!-- <link rel='stylesheet' href="css/materialize.min.css"> -->
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/header.css">
	<link rel="stylesheet" href="css/gallery.css">
</head>

<body>
	<div id="modal-container" class="modal-container">
		<div class="modal-background" id="modal-background">
			<div class="container modal" id="form-modal">
				<form id="order_form">
					<label for="fname" id="name_label">Полное имя</label>
					<input type="text" id="fname" name="fullname" placeholder="Your Name..">

					<label for="lname" id="email_label">Адрес электронной почты</label>
					<input type="email" id="email" name="emailaddress" placeholder="Your E-mail Address..">

					<label for="select_adventure" id="select_label">выберите приключение</label>
					<select id="select_adventure" name="select_adventure">
						<option value="none">none</option>
					</select>
					<input type="submit" value="Submit" id="submit-button">
				</form>
			</div>
		</div>
	</div>

	<header>
		<div class="page-width">
			<div class="row">
				<div class="col-md-4 col-xs-12">
					<a href="/">
						<img class="sitelogo" src="img/logo2.png" alt="Aviation Adventures">
					</a>
				</div>
				<div class="col-md-4 col-md-offset-4 col-xs-12 header_right">
					<button class="text book_now_button button" id="book_now_button">
						Забронируйте сейчас
					</button>
				</div>
			</div>
		</div>
	</header>

	<section>

		<div class="page-width slides-container-container nopadding" id="div_to_scroll">
			<div class = "slides-container">
				<div class = "container slide-container nopadding">
					<div class="slide" id="slide1">
						<img class="background-image" src="img/croppedmain.jpg"/>
						<div class = "slide1-text-wrapper">
							<h1 class="text">
								<span> Полёты над самыми красивыми</span>
							</h1>
							<h1 class="text">
								<span>местами планеты.</span>
							</h1>
							<h1 class="text">
								<span> Впечатления, которые останутся с Вами</span>
							</h1>
							<h1 class="text">
								<span> на всю жизнь.</span>
							</h1>
						</div>
						<div class="slide1-info-wrapper">
							<div class="slide1-info-textwrapper">
								<p class="text">ПРОКРУТИТЕ, ЧТОБЫ УЗНАТЬ БОЛЬШЕ</p>
							</div>
							<div class="slide1-info-alert-imagewrapper">
								<img class="slide1-info-alert" src="img/exclamationmark.png"/>
							</div></div>
						</div>
					</div>
					<div class = "container slide-container nopadding">
						<div class="slide" id="slide2">
							<img class="background-image" src="img/cropped2.jpg"/>
							<div class="slide-text-wrapper">
								<h1 class="slide-title text">
									ЧТО ЭТО?
								</h1>
								<p class="slide-body-text text">
									Авиационные приключения - совместные
									<br>
									полёты на 4-х местном самолёте
									<br>
									Cessna 172 / Cirrus 22
									<br>
									в самых красивых уголках планеты.
									<br>
									<br>
									Мы увидим невероятные пейзажи,
									<br>
									доступные только с воздуха,
									<br>
									будем совместно готовиться к
									<br>
									полётам, выбирать маршрут,
									<br>
									анализировать погоду, делать
									<br>
									чек-листы ...
									<br>
									<br>
									Авиационные приключения -
									<br>
									возможность не только насладиться
									<br>
									красотой нашей планеты, но и узнать из
									<br>
									первых рук и влюбиться в не менее
									<br>
									прекрасный мир авиации.
								</p>
							</div>
							<div class="nav-dots-wrapper">
								<div class= "circle" onclick="switch_to(1)">
								</div>
								<div class= "circle selected" onclick="switch_to(2)">
								</div>
								<div class= "circle" onclick="switch_to(3)">
								</div>
								<div class= "circle" onclick="switch_to(4)">
								</div>
								<div class= "circle" onclick="switch_to(5)">
								</div>
								<div class= "circle" onclick="switch_to(6)">
								</div>
								<div class= "circle" onclick="switch_to(7)">
								</div>
							</div>
						</div>
					</div>
					<div class = "container slide-container nopadding">
						<div class="slide" id="slide3">
							<img class="background-image" src="img/cropped3.jpg"/>
							<div class="slide-text-wrapper">
								<h1 class="slide-title text">
									КОМУ ЭТО НУЖНО?
								</h1>
								<ul class="slide-body-text text">

									<li>Тем, кто любит природу,
										<br>
										виды и романтику
										<br>
										<br>
									</li>
									<li>Тем, кого не устраивает
										<br>
										"стандартный" туризм
										<br>
										<br>
									</li>
									<li>Тем, кто испытывает
										<br>
										психологический дискомфорт
										<br>
										в полетах и хотел бы
										<br>
										от него избавиться
										<br>
										<br>
									</li>
									<li>Тем, кто "болеет"
										<br>
										авиацией и мечтает
										<br>
										стать частью процесса
										<br>
										<br>
									</li>
									<li>Тем, кто хочет впечатлений,
										<br>
										остающихся  на всю жизнь
									</li>
								</ul>
							</div>
							<div class="nav-dots-wrapper">
								<div class= "circle" onclick="switch_to(1)">
								</div>
								<div class= "circle" onclick="switch_to(2)">
								</div>
								<div class= "circle selected" onclick="switch_to(3)">
								</div>
								<div class= "circle" onclick="switch_to(4)">
								</div>
								<div class= "circle" onclick="switch_to(5)">
								</div>
								<div class= "circle" onclick="switch_to(6)">
								</div>
								<div class= "circle" onclick="switch_to(7)">
								</div>
							</div>
						</div>
					</div>


					<div class = "container slide-container nopadding">
						<div class="slide" id="slide4">
							<img class="background-image" src="img/cropped4.jpg"/>
							<div class="slide-text-wrapper">
								<h1 class="slide-title text">
									ГДЕ, КОГДА <br> И КАК?
								</h1>
								<p class="slide-body-text text">
									Мы организуем несколько приключений
									<br>
									каждый год. В группе 3 человека и
									<br>
									профессиональный пилот.
									<br>
									Приключения занимают от 1 до 5
									<br>
									дней, в зависимости от маршрута.
									<br>
									Группа собирается в городе вылета.
									<br>
									Знакомимся и обсуждаем планы.
									<br>
									Анализируем прогноз погоды и
									<br>
									принимаем окончательное решение
									<br>
									о вылете.
									<br>
									Если все ок с погодой, на следующий
									<br>
									день готовим самолёт, проводим
									<br>
									брифинг и вылетаем на первый
									<br>
									сегмент маршрута.
								</p>
							</div>
							<div id="slide4-right-text">
								<p class="text">
									Кроме восторга от красот природы
									<br>
									и неба, В полёте мы узнаем многое
									<br>
									об авиации, нормах обеспечения
									<br>
									безопасности и даже учимся основам
									<br>
									пилотирования и навигации.
									<br>
									Как правило, в день мы летаем
									<br>
									около 3-х часов , остальное время
									<br>
									отдыхаем, вкусно едим, изучаем
									<br>
									местные достопримечательности и
									<br>
									просто - наслаждаемся жизнью).
									<br>
									Кстати, наш опыт предыдущих
									<br>
									приключений показывает, что
									<br>
									участники каждого остаются
									<br>
									друзьями и после его окончания.
								</p>
							</div>
							<div id="slide4-right-text-toggle">
							</div>

							<div class="nav-dots-wrapper">
								<div class= "circle" onclick="switch_to(1)">
								</div>
								<div class= "circle" onclick="switch_to(2)">
								</div>
								<div class= "circle" onclick="switch_to(3)">
								</div>
								<div class= "circle selected" onclick="switch_to(4)">
								</div>
								<div class= "circle" onclick="switch_to(5)">
								</div>
								<div class= "circle" onclick="switch_to(6)">
								</div>
								<div class= "circle" onclick="switch_to(7)">
								</div>
							</div>
						</div>
					</div>


					<div class = "container slide-container nopadding">
						<div class="slide" id="slide5">
							<img class="background-image" src="img/cropped5.jpg"/>
							<div class="slide-text-wrapper">
								<h1 class="slide-title text">
									ПРОШЕДШИЕ<br>ПРИКЛЮЧЕНИЯ
								</h1>
							</div>
								<div class="gallery_wrapper">
									<div class="gallery_image" id="gallery_image1">
										<img src="img/example1.jpg" id="gallery_img1"/>
										<p class = "gallery-text slide-body-text text" id="gallery-text1">123</p>
									</div>
									<div class="gallery_image" id="gallery_image2">
										<img src="img/example2.jpg" id="gallery_img2"/>
										<p class = "gallery-text slide-body-text text" id="gallery-text2">123</p>
									</div>
									<div class="gallery_image" id="gallery_image3">
										<img src="img/example3.jpg" id="gallery_img3"/>
										<p class = "gallery-text slide-body-text text" id="gallery-text3">123</p>
									</div>
									<div class="gallery_image" id="gallery_image4">
										<img src="img/example4.jpg" id="gallery_img4"/>
										<p class = "gallery-text slide-body-text text" id="gallery-text4">123</p>
									</div>
								</div>
								<div class="nav-dots-wrapper">
									<div class= "circle" onclick="switch_to(1)">
									</div>
									<div class= "circle" onclick="switch_to(2)">
									</div>
									<div class= "circle" onclick="switch_to(3)">
									</div>
									<div class= "circle" onclick="switch_to(4)">
									</div>
									<div class= "circle selected" onclick="switch_to(5)">
									</div>
									<div class= "circle" onclick="switch_to(6)">
									</div>
									<div class= "circle" onclick="switch_to(7)">
									</div>
								</div>
							</div>
						</div>

					<div class="container slide-container nopadding">
						<div class="slide" id="slide6">
							<img class="background-image" src="img/cropped6.jpg">
							<div class="slide-text-wrapper">
								<h1 class="slide-title text">
									СЛЕДУЙШИЕ<br>ПРИКЛЮЧЕНИЯ
								</h1>
							</div>
							<div class="next-advanture-wrapper">
								<div class="next-advanture left top">
									<img class="next-advanture-img" id="advanture1"/>
								</div>
								<div class="next-advanture right top">
									<img class="next-advanture-img" id="advanture2"/>
								</div>
								<div class="next-advanture left bottom">
									<img class="next-advanture-img" id="advanture3"/>
								</div>
								<div class="next-advanture right bottom">
									<img class="next-advanture-img" id="advanture4"/>
								</div>
							</div>
							<div class="comingsoontext slide-body-text text">
								<p>
									Скоро будут анонсированы новые авиационные приключения.
									<br> Подпишитесь на нас в соцсетях чтобы быть в курсе.
								</p>
							</div>
							<div class="nav-dots-wrapper">
									<div class= "circle" onclick="switch_to(1)">
									</div>
									<div class= "circle" onclick="switch_to(2)">
									</div>
									<div class= "circle" onclick="switch_to(3)">
									</div>
									<div class= "circle" onclick="switch_to(4)">
									</div>
									<div class= "circle" onclick="switch_to(5)">
									</div>
									<div class= "circle selected" onclick="switch_to(6)">
									</div>
									<div class= "circle" onclick="switch_to(7)">
									</div>
								</div>
						</div>
					</div>

						<div class = "container slide-container nopadding">
							<div class="slide" id="slide7">
								<img class="background-image" src="img/cropped7.jpg"/>

								<div class="slide6-text-wrapper">
									<p class="slide-body-text-bio text">
										Группу ведёт коммерческий пилот лицензии
										<br>
										ЕС + США, психолог, специалист по страху полёта
										<br>
										(аэрофобии) с международным именем -
										<br>
										Алексей Герваш.
									</p>
								</div>
								<div class="nav-dots-wrapper">
									<div class= "circle" onclick="switch_to(1)">
									</div>
									<div class= "circle" onclick="switch_to(2)">
									</div>
									<div class= "circle" onclick="switch_to(3)">
									</div>
									<div class= "circle" onclick="switch_to(4)">
									</div>
									<div class= "circle" onclick="switch_to(5)">
									</div>
									<div class= "circle" onclick="switch_to(6)">
									</div>
									<div class= "circle selected" onclick="switch_to(7)">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		<footer>
			<div class="page-width footer-wrapper nopadding">
					<div class="footer-left">
						<p class="footer-text text">
							All Rights Reserved To Aviation Adventures 2017
						</p>
					</div>
					<div class="footer-center">
						<a href="https://www.facebook.com/alex.gervash" target="_blank" class="fa fa-facebook social-media">
						</a>
						<a href="https://www.instagram.com/stop_fear_of_flying/" target="_blank" class="fa fa-instagram social-media">
						</a>
						<a href="https://www.youtube.com/watch?v=XqtcwzlNvkA" target="_blank" class="fa fa-youtube social-media">
						</a>
					</div>
				<div class="footer-right">
					<p class="footer-text text">
						Designed and built by Itay Garbash & Bar Azaria
					</p>
				</div>
			</div>
		</footer>



		<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

		<!-- Background of PhotoSwipe.
			 It's a separate element as animating opacity is faster than rgba(). -->
		<div class="pswp__bg"></div>

		<!-- Slides wrapper with overflow:hidden. -->
		<div class="pswp__scroll-wrap">

			<!-- Container that holds slides.
				PhotoSwipe keeps only 3 of them in the DOM to save memory.
				Don't modify these 3 pswp__item elements, data is added later on. -->
			<div class="pswp__container">
				<div class="pswp__item"></div>
				<div class="pswp__item"></div>
				<div class="pswp__item"></div>
			</div>

			<!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
			<div class="pswp__ui pswp__ui--hidden">

				<div class="pswp__top-bar">

					<!--  Controls are self-explanatory. Order can be changed. -->

					<div class="pswp__counter"></div>

					<button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

					<button class="pswp__button pswp__button--share" title="Share"></button>

					<button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

					<button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

					<!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
					<!-- element will get class pswp__preloader--active when preloader is running -->
					<div class="pswp__preloader">
						<div class="pswp__preloader__icn">
						  <div class="pswp__preloader__cut">
							<div class="pswp__preloader__donut"></div>
						  </div>
						</div>
					</div>
				</div>

				<div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
					<div class="pswp__share-tooltip"></div>
				</div>

				<button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
				</button>

				<button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
				</button>

				<div class="pswp__caption">
					<div class="pswp__caption__center"></div>
				</div>

			</div>

		</div>

	</div>

		<script src="photoswipe/photoswipe.min.js"></script>
		<script src="photoswipe/photoswipe-ui-default.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<!-- <script src="scripts/materialize.min.js"></script> -->
		<script src="scripts/jquery.easing.1.3.js"></script>
		<script src="scripts/jquery.mousewheel.js"></script>
		<script src="script.js"></script>
	</body>
</html>
