html{
	padding: 0;
	margin: 0;
}
body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
div{
	padding: 0;
	margin: 0;
}

header{
	height: 15vw;
	text-align: center;
	max-height: 133.5px;
}

.sitelogo{
	height: 150%;
	display: block;
	margin: auto;
	max-height: 200px;
}

.content{
	margin-top: 5%;
}
.page-width{
	width: 90%;
	max-width: 770px;
	margin: 0 auto;
	position: relative;
}
.background-image-wrapper{
	padding-bottom:7%;
	width: 100%;
	position: relative;
}


.first-background{
	padding-top: 7%;
}

.background-image-wrapper img{
	width: 100%;
	position: relative;
}


.content-wrapper{
	width: 100%;
	height: 100%;
	overflow: auto;
	z-index: 2;
	position: absolute;
	top: 0;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-flow: column nowrap;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap;
	-webkit-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
}

.slide-wrapper{
	width: 84%;
	position: relative;
	height: 45.36vw;
	background-color: #EBEBEB;
	-webkit-box-shadow: 0px 0px 41px 11px rgba(102,102,102,0.41);
	-moz-box-shadow: 0px 0px 41px 11px rgba(102,102,102,0.41);
	box-shadow: 0px 0px 41px 11px rgba(102,102,102,0.41);
	text-align: center;

}

.flex-wrapper{
	width: 100%;
 	height: 100%;
	display: -webkit-flex;
	-webkit-justify-content: center;
	-webkit-align-items: center;
	display: -ms-flex;
	-ms-justify-content: center;
	-ms-align-items: center;
	display: flex;
	justify-content: center;
	align-items: center;

}


.slide{
	display: block;
	width: 100%;
}

.init-page{
	max-height: 349px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}



#flex1{
	margin-top: 40%;
}

#flex6{
	margin-bottom: 40%;
}

.slogen-wrapper{
	margin: 0 auto;
	display: inline-block;
	z-index: 3;
	position: absolute;
	top:30%;
	width: 100%;
	text-align: center;
}

.slogen-wrapper h1{
	margin:0;
	font-size: 3vw;
	color:black;
	text-transform: uppercase;
	font-weight: bold;
	margin: 1% 0;
}
.slogen-wrapper h1 span{
	background-color: white;
	padding: 1% 2%;
}

.slide-title {
	text-align: center;
	font-size: 5vw;
	margin: 3%;
	font-weight: 800;
	padding-top: 1%;
}

.slide-body-text {
	text-align: center;
	font-family: roboto;
	font-size: 2.5vw;
	display: none;
}

.short-slide-body-text{
	text-align: center;
	font-family: roboto;
	font-size: 2.5vw;
}

.read-more{
	position: absolute;
	z-index: 5;
	display: block;
	bottom: 2vw; left:0; right: 0;
	width: 4vw;
	height: 4vw;
	max-height: 54px;
	max-width: 54px;
	cursor: pointer;
	margin: 0 auto;
	background-image: url("../img/play.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center center;
    -moz-transform:rotate(90deg) !important;
    -webkit-transform:rotate(90deg) !important;
	transform:rotate(90deg);
	-moz-transition:300ms all;
	-webkit-transition:300ms all;
	transition: 300ms all;
}

.arrowDown{
	transform: rotate(270deg) !important;
    -moz-transform:rotate(270deg) !important;
    -webkit-transform:rotate(270deg) !important;
}

@media screen and (min-width : 770px){
	.slide-title{
		margin-top: 24px;
		font-size: 40px;
	}
	.slide-body-text{
		font-size: 20px;
	}
	.short-slide-body-text{
		font-size: 20px;
	}
}

.fab-icon{
	width: 100%
}

#slide-title-5{
	text-transform: uppercase;
}

#alex{
	width: 25%;
}


.gallery{
	margin: 2vw;
	display: inline-block;
}

.gallery-ext{
	margin: 2vw;
	display: none;
}

.gallery-img{
	width: 22vw;
	height: 22vw;
	max-width: 192px;
	max-height: 192px;
}
.gallery-img img{
	width: 100%;
	height: 100%;
	object-fit:cover;
}

.gallery-text{
	display: block;
	margin: 5px 0px 3px;
	font-weight: bold;
}

.comingsoontext{
	font-size: 0.5rem;
	z-index: 10;
	font-weight: 400;
	margin-top: 10px;
}

.slide4{
	padding-bottom: 8%;
}

.next-advantures-wrapper{
	width: 70%;
	margin: 0 auto;
}

.next-advanture{
	display: none;
	width: 100%;
	padding-top: 5%;
}
.next-advanture img{
	width: 100%;
}

.modal-container{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
}
.book_modal{
	background-color: white;
	padding: 4% 10% 4% 10%;
	margin-top: 25vh;
}
@media screen and (min-width : 900px){
	.book_modal{
		padding: 35px 88px 35px 88px;
	}
	.slogen-wrapper h1{
		font-size: 27px;
	}
	.read-more{
		bottom: 15px;
		width: 30px;
		height: 30px;
	}

	.gallery{
		margin: 15px;
	}
	.gallery-ext{
		margin: 15px;
	}
}

#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 10%;
  left:7%;
}

.footer-wrapper{
	text-align: center;
}

.footer-center{
	display: inline-block;
	margin: 0 auto;
}

.social-media {
	width: 36px;
	height: 36px;
	padding: 6px;
	font-size: 24px;
	text-align: center;
	text-decoration: none;
	margin: 0 2px 10px 2px;
}

.social-media:hover{
	-webkit-box-shadow: 0px 0px 12px -4px rgba(102,102,102,1);
	-moz-box-shadow: 0px 0px 12px -4px rgba(102,102,102,1);
	box-shadow: 0px 0px 12px -4px rgba(102,102,102,1);
	text-decoration: none;
}

.fa-facebook{
	color: #136cdb;
}

.fa-facebook:hover{
	color: #136cdb;
}


.fa-youtube{
	color: #f44336;
}

.fa-youtube:hover{
	color: #f44336;
}

.fa-instagram{
	color: #9c27b0;
}

.fa-instagram:hover{
	color: #9c27b0;
}
