html{
	padding: 0;
	margin: 0;
}
body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
div{
	padding: 0;
	margin: 0;
}

header{
	height: 15vw;
	text-align: center;
	max-height: 133.5px;
}

.sitelogo{
	height: 150%;
	display: block;
	margin: auto;
	max-height: 200px;
}

.page-width{
	width: 90%;
	max-width: 770px;
	margin: 0 auto;
	position: relative;
}
.background-image-wrapper{
	padding-bottom:7%;
	width: 100%;
	position: relative;
}


.first-background{
	padding-top: 7%;
}

.background-image-wrapper img{
	width: 100%;
	position: relative;
}


.gallery{
	display: inline-block;
	margin: 1vw;
}

.gallery-ext{
	margin: 1vw;
	display: none;
}


.content-wrapper{
	width: 100%;
	height: 100%;
	overflow: auto;
	z-index: 2;
	position: absolute;
	top: 0;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-flow: column nowrap;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap;
	-webit-justify-content: space-evenly;
	-ms-justify-content: space-evenly;
	justify-content: space-evenly;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
}

.slide-wrapper{
	width: 84%;
	position: relative;
	height: 45.36vw;
	background-color: #EBEBEB;
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 41px 11px rgba(102,102,102,0.41);
	-moz-box-shadow: 0px 0px 41px 11px rgba(102,102,102,0.41);
	box-shadow: 0px 0px 41px 11px rgba(102,102,102,0.41);
	text-align: center;
  	display: -webkit-flex;
  	-webkit-justify-content: center;
  	-webkit-align-items: center; 
  	display: -ms-flex;
  	-ms-justify-content: center;
  	-ms-align-items: center; 
  	display: flex;
  	justify-content: center;
  	align-items: center; 

}

.slide{
	display: block;
	width: 100%;
}

.init-page{
	max-height: 349px;
}



#flex1{
	margin-top: 34%;
}

#flex5{
	margin-bottom: 34%;
}



.read-more{
	text-align: center;
	font-size: 2vw;
	padding-bottom: 1%;
	color: #167cdb;
}

.slide-title {
	text-align: center;
	font-size: 5vw;
	margin: 3%;
	font-weight: 800;
	padding-top: 1%
}

.slide-body-text {
	text-align: center;
	font-family: roboto;
	font-size: 2.5vw;
	display: none;
}

.short-slide-body-text{
	text-align: center;
	font-family: roboto;
	font-size: 2.5vw;
}

@media screen and (min-width : 770px){
	.slide-title{
		margin-top: 24px;
		font-size: 40px;
	}
	.read-more{
		font-size: 16px;
	}
	.slide-body-text{
		font-size: 20px;
	}
	.short-slide-body-text{
		font-size: 20px;
	}
}

.fab-icon{
	width: 100%
}

#slide-title-5{
	text-transform: uppercase;
}

#alex{
	width: 25%;
}
