html{
	padding: 0;
	margin: 0;
}
body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
div{
	padding: 0;
	margin: 0;
}

header{
	height: 15vw;
	text-align: center;
	max-height: 133.5px;
}

.sitelogo{
	height: 150%;
	display: block;
	margin: auto;
	max-height: 200px;
}

.page-width{
	width: 90%;
	max-width: 770px;
	margin: 0 auto;
	position: relative;
}
.background-image-wrapper{
	padding-bottom:7%;
	width: 100%;
	position: relative;
}


.first-background{
	padding-top: 7%;
}

.background-image-wrapper img{
	width: 100%;
	position: relative;
}


.content-wrapper{
	width: 100%;
	height: 100%;
	overflow: auto;
	z-index: 2;
	position: absolute;
	top: 0;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-flow: column nowrap;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap;
	-webit-justify-content: space-evenly;
	-ms-justify-content: space-evenly;
	justify-content: space-evenly;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
}

.slide-wrapper{
	width: 84%;
	position: relative;
	height: 45.36vw;
	background-color: #EBEBEB;
	-webkit-box-shadow: 0px 0px 41px 11px rgba(102,102,102,0.41);
	-moz-box-shadow: 0px 0px 41px 11px rgba(102,102,102,0.41);
	box-shadow: 0px 0px 41px 11px rgba(102,102,102,0.41);
	text-align: center;
  	display: -webkit-flex;
  	-webkit-justify-content: center;
  	-webkit-align-items: center;
  	display: -ms-flex;
  	-ms-justify-content: center;
  	-ms-align-items: center;
  	display: flex;
  	justify-content: center;
  	align-items: center;

}

.slide{
	display: block;
	width: 100%;
}

.init-page{
	max-height: 349px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}



#flex1{
	margin-top: 34%;
}

#flex5{
	margin-bottom: 34%;
}

.slogen-wrapper{
	margin: 0 auto;
	display: inline-block;
	z-index: 3;
	position: absolute;
	top:30%;
	width: 100%;
	text-align: center;
}

.slogen-wrapper h1{
	margin:0;
	font-size: 3vw;	
	color:black;
	text-transform: uppercase;
	font-weight: bold;
	margin: 1% 0;
}
.slogen-wrapper h1 span{
	background-color: white;
	padding: 1% 2%;
}

.slide-title {
	text-align: center;
	font-size: 5vw;
	margin: 3%;
	font-weight: 800;
	padding-top: 1%;
}

.slide-body-text {
	text-align: center;
	font-family: roboto;
	font-size: 2.5vw;
	display: none;
}

.short-slide-body-text{
	text-align: center;
	font-family: roboto;
	font-size: 2.5vw;
}

.read-more{
	position: absolute;
	display: block;
	bottom: 2vw;
	width: 4vw;
	height: 4vw;
	max-height: 54px;
	max-width: 54px;
	cursor: pointer;
	background-image: url("../img/play.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center center;
    -moz-transform:rotate(90deg) !important;
    -webkit-transform:rotate(90deg) !important;
	transform:rotate(90deg);
	-moz-transition:300ms all;
	-webkit-transition:300ms all;
	transition: 300ms all;
}

.arrowDown{
	transform: rotate(270deg) !important;
    -moz-transform:rotate(270deg) !important;
    -webkit-transform:rotate(270deg) !important;
}

@media screen and (min-width : 770px){
	.slide-title{
		margin-top: 24px;
		font-size: 40px;
	}
	.slide-body-text{
		font-size: 20px;
	}
	.short-slide-body-text{
		font-size: 20px;
	}
}

.fab-icon{
	width: 100%
}

#slide-title-5{
	text-transform: uppercase;
}

#alex{
	width: 25%;
}


.gallery{
	margin: 2vw;
	display: inline-block;
}

.gallery-ext{
	margin: 2vw;
	display: none;
}

.gallery-img{
	width: 25vw;
	height: 25vw;
	max-width: 192px;
	max-height: 192px;
}
.gallery-img img{
	width: 100%;
	height: 100%;
	object-fit:cover;
}
.slide4{
	padding-bottom: 8%;
}
.modal-container{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
}
.book_modal{
	background-color: white;
	padding: 4% 10% 4% 10%;
	margin-top: 25vh;
}
@media screen and (min-width : 900px){
	.book_modal{
		padding: 35px 88px 35px 88px;
	}
	.slogen-wrapper h1{
		font-size: 27px;
	}
	.read-more{
		bottom: 15px;
		width: 30px;
		height: 30px;
	}
	
	.gallery{
		margin: 15px;
	}
	.gallery-ext{
		margin: 15px;
	}
}